Score
{
    zorder 200
	
    container Panel(ScorePanel)
    {
        metrics_mode relative

        left 0.0
        top 0.0
        width 1.0
        height 0.1
	   //material BlueSemiTran
	  
		element TextArea(left)
		{
		metrics_mode relative
		
         left 0.05
	    top 0.0
         width 0.3
         height 1.0
         font_name BlueHighwayBig
         char_height 0.05
         colour 1 0 0
         caption Player 1 Score : 0		
          }
              
          element TextArea(level)
		{
		metrics_mode relative
		
         left 0.4
	    top 0.0
         width 0.3
         height 1.0
         font_name BlueHighwayBig
         char_height 0.05
         colour 1 0 0
         caption Level : 1	
          }
         

          element TextArea(right)
		{
		metrics_mode relative
		
         left 0.9
	    top 0.0
         width 0.3
         height 1.0
         font_name BlueHighwayBig
         char_height 0.05
         colour 1 0 0
         caption Player 2 Score : 0		
          }

     }
}

